<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.tcox.silver</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/Silver.app/Contents/MacOS/Silver</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>StandardOutPath</key>
    <string>/tmp/org.tcox.silver.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/org.tcox.silver.stderr.log</string>
</dict>
</plist>
